configuration {
    modes: "drun";
    sorting-method: "normal";
    show-icons: true;
    icon-theme: "Papirus";
    matching: "regex";
    drun-match-fields: "name";
    display-run: "menu:";
    display-drun: "Launch:";
}

@theme "tokyo"

@import "colors.rasi"

* {
    font: "Open Sans 10";
    background-color: transparent;
    text-color: @fg0;

    margin: 0px;
    padding: 0px;
    spacing: 0px;
}

/* ===== Window ===== */
window {
    location: center;
    width: 500;
    y-offset: -20;

    border-radius: 0px;
    border: 2px;
    border-color: #2a2a2a;

    background-color: rgba(22 22 22 / 0.94);
}

/* ===== Main container ===== */
mainbox {
    padding: 0px;
    background-color: #161616;
}

/* ===== Input bar ===== */
inputbar {
    background-color: #1e1e1e;
    border-radius: 0px;
    border: 1px;
    border-color: rgba(42 42 42 / 0.8);

    padding: 8px 16px;
    spacing: 8px;
}

prompt {
    text-color: @cyan;
    background-color: transparent;
}

entry {
    text-color: @fg0;
    placeholder: "search";
    placeholder-color: @cyan;
    background-color: transparent;
}

/* ===== List ===== */
listview {
    background-color: #161616;
    margin: 10px 0 0;

    columns: 1;
    lines: 6;
    fixed-height: false;
}

/* ===== Elements ===== */
element {
    padding: 10px 6px;
    spacing: 6px;
    border-radius: 0px;

    background-color: #161616;
}

element normal.normal,
element alternate.normal {
    background-color: #161616;
    text-color: #f0f0f0;
}

element normal.active,
element alternate.active {
    background-color: #161616;
    text-color: #ffffff;
}

element normal.urgent,
element alternate.urgent {
    background-color: #1e1e1e;
    text-color: #f0f0f0;
}

element selected.normal,
element selected.active {
    background-color: #484848;
    text-color: #ffffff;
}

element selected.urgent {
    background-color: #2a2a2a;
    text-color: #f0f0f0;
}

/* ===== Icons & text ===== */
element-icon {
    size: 1em;
    vertical-align: 0.5;
}

element-text {
    text-color: inherit;
    background-color: transparent;
}

/* ===== Message box ===== */
message {
    margin: 12px 0 0;
    border-radius: 0px;
    border: 1px;
    border-color: rgba(42 42 42 / 0.8);

    background-color: rgba(16 16 16 / 0.92);
}

textbox {
    padding: 8px 24px;
    background-color: rgba(16 16 16 / 0.92);
}