configuration {
    modes: "drun";
    sorting-method: "normal";
    show-icons: true;
    icon-theme: "Gruvbox-Plus-Dark";
    matching: "regex";
    drun-match-fields: "name";
    display-run: "menu:";
    display-drun: "Launch:";
}

@theme "gruvbox"

@import "colors.rasi"

* {
    font: "JetBrainsMono Nerd Font 10";
    background-color: transparent;
    text-color: @fg0;

    margin: 0px;
    padding: 0px;
    spacing: 0px;
}

/* ===== Window ===== */
window {
    location: center;
    width: 500;
    y-offset: -20;

    border-radius: 0px;
    border: 2px;
    border-color: #3c3836;

    background-color: rgba(40 40 40 / 0.94);
}

/* ===== Main container ===== */
mainbox {
    padding: 0px;
    background-color: #282828;
}

/* ===== Input bar ===== */
inputbar {
    background-color: #32302f;
    border-radius: 1px;
    border: 1px;
    border-color: rgba(60 56 54 / 0.8);

    padding: 8px 16px;
    spacing: 8px;
}

prompt {
    text-color: @cyan;
    background-color: transparent;
}

entry {
    text-color: @fg0;
    placeholder: "search";
    placeholder-color: @cyan;
    background-color: transparent;
}

/* ===== List ===== */
listview {
    background-color: #282828;
    margin: 10px 0 0;

    columns: 1;
    lines: 6;
    fixed-height: false;
}

/* ===== Elements ===== */
element {
    padding: 10px 6px;
    spacing: 6px;
    border-radius: 1px;

    background-color: #282828;
}

element normal urgent {
    text-color: @red;
}

element normal active {
    text-color: @blue;
}

element selected normal,
element selected active {
    background-color: rgba(254 128 25 / 0.18);
}

/* ===== Icons & text ===== */
element-icon {
    size: 1em;
    vertical-align: 0.5;
}

element-text {
    text-color: inherit;
    background-color: transparent;
}

/* ===== Message box ===== */
message {
    margin: 12px 0 0;
    border-radius: 12px;
    border: 1px;
    border-color: rgba(60 56 54 / 0.8);

    background-color: rgba(29 32 33 / 0.92);
}

textbox {
    padding: 8px 24px;
    background-color: rgba(29 32 33 / 0.92);
}