configuration {
    show-icons: false;
    lines: 5;
}

window {
    background-color: #282828;
    border-color: #fe8019;
    border: 2px;
    border-radius: 8px;
    width: 240px;
    padding: 12px;
}

mainbox {
    background-color: transparent;
    children: [ listview ];
}

listview {
    background-color: transparent;
    spacing:          2px;
    fixed-height:     false;
    scrollbar:        false;
    lines:            5;
    fixed-columns:    true;
}

element {
    background-color: transparent;
    text-color: #ebdbb2;
    padding: 8px 16px;
    border-radius: 4px;
}

element selected.normal {
    background-color: #32302f;
    text-color: #ebdbb2;
}
